In [1]:
import pandas as pd
import json
import os
import matplotlib.pyplot as plt
import math

In [2]:
#reads JSON files and filters out playlists with <= 2 followers. Appends playlists to a list. 
#GOAL: collapse all sets of playlists to one pandas DF

#playlists = pd.DataFrame() #create empty dataframe to contain all playlists
playlists = []
file_list = os.listdir('data/')
for file in file_list:
    f = json.load(open('data/' + file))
    #for pl in f['playlists']:
    pl = pd.DataFrame(f['playlists'])
    df = pl[pl.num_followers > 2] #only append playlists with > 2 followers
    if not df.empty:
        playlists.append(df)
        #playlist = pd.DataFrame(pl)
        #df = playlist[playlist.num_followers > 2] #only append playlists with > 2 followers
        #if not df.empty:
        #    playlists.append(df)
            #playlists = pd.concat([playlists, df]) #append all playlists from each slice to playlists dataframe

In [ ]:
#collapse every dataframe of playlists into a single dataframe
all_playlists = pd.concat(playlists)

all_playlists.reset_index(inplace=True)

all_playlists.drop(['collaborative', 'modified_at', 'description'], axis=1, inplace=True)

#turn the dataframe into JSON to save for later (so we don't have to keep re-reading the massive slices)
playlists_json = all_playlists.to_json()
data_file = open("data.txt", "w")
n = data_file.write(playlists_json)
data_file.close()

#convert string back into a dataframe using 'pd.read_json(string)'

In [25]:
len(playlists)
#playlists
playlists[0]
all_playlists

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
20,mixtape,false,20,1509494400,14,9,3,"[{'pos': 0, 'artist_name': 'Lil Pump', 'track_...",11,2165531,6,NaN
28,Yeet,false,28,1509062400,81,57,7,"[{'pos': 0, 'artist_name': 'T.I.', 'track_uri'...",26,18831207,37,NaN
40,2020,false,40,1490659200,85,80,6,"[{'pos': 0, 'artist_name': 'Kanye West', 'trac...",27,18672695,71,NaN
44,taylor swift,false,44,1430611200,33,29,3,"[{'pos': 0, 'artist_name': 'Taylor Swift', 'tr...",18,6837317,21,NaN
52,Christmas,false,52,1508976000,15,14,5,"[{'pos': 0, 'artist_name': 'Bing Crosby', 'tra...",2,2647155,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
953,roots,false,999953,1501113600,55,47,4,"[{'pos': 0, 'artist_name': 'Los Rieleros Del N...",20,10735488,23,NaN
968,chill songs,false,999968,1509062400,139,124,5,"[{'pos': 0, 'artist_name': 'X Ambassadors', 't...",51,33459180,95,NaN
977,Audiobooks,false,999977,1415577600,90,11,4,"[{'pos': 0, 'artist_name': 'DBS Audiobooks', '...",5,216094210,3,NaN
985,Baby Making Music,false,999985,1455753600,28,26,3,"[{'pos': 0, 'artist_name': 'SoMo', 'track_uri'...",18,7146239,16,NaN
986,Work,false,999986,1509321600,130,113,3,"[{'pos': 0, 'artist_name': 'Maroon 5', 'track_...",51,28335806,82,NaN

In [15]:
#playlists[1].tracks[0]
all_playlists
len(all_playlists)
type(all_playlists)

pandas.core.frame.DataFrame

In [24]:
type(playlists)
len(playlists)

1000